@import './common'

*
*:before
*:after
  box-sizing border-box

body
  margin 20px
  text-align center
  background-color white
  color black
  font-family sans-serif
  font-weight bold
  font-smoothing antialiased
